<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>visual-memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DE393421D3E141A008EBF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE3935B1D3E141B008EBF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DE393661D3E141B008EBF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
